{% extends "base.html" %}

{% block announce %}
  <img class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@16.0.1/assets/svg/2764.svg" alt="❤️">
  <b>&nbsp;Support</b> an <a href="https://tremeschin.com/about/support/"><b>underpaid</b></a> open source developer.
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>

    /* Lighter headings for differentiation */
    h2 {color: color-mix(in srgb, var(--md-typeset-color) 80%, white) !important}
    h3 {color: color-mix(in srgb, var(--md-typeset-color) 65%, white) !important}

    /* Spread content tabs to full width */
    .tabbed-labels--linked label {
      text-align: center;
      flex: 1;
    }

    /* Less bold admonition titles */
    .md-typeset .admonition-title {
      font-weight: 450 !important;
    }
    .filename {
      font-weight: 450 !important;
    }

    /* Less space on sections and content */
    .md-main__inner {
      margin-top: 0 !important;
    }

    /* Stretch button */
    .md-button {
      text-align: center;
      width: 100%;
    }

  </style>
{% endblock %}
